<div class="product-item card mt-3 mb-3" [ngClass]="view" (click)="openProductDetails()">
  <div class="card-body product-item__body">
    <div class="card-img product-item__body__img">
      <img [src]="product.image_url" />
    </div>
    <h5 class="card-title product-item__body__name">{{ product.name }}</h5>
    <div class="product-item__body__about">{{ product.about }}</div>
    <div class="product-item__body__views">
      <small class="text-muted">Views: {{ product.views }}</small>
    </div>
    <button class="btn btn-xs btn-light product-item__btn-trash" (click)="deleteProduct(content, $event)">
      <span class="icon icon--trash"></span>
    </button>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>Are you sure, you want to delete this item?</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(true)">Yes, delete</button>
      <button type="button" class="btn btn-dark" (click)="modal.dismiss()">Cancel</button>
    </div>
  </ng-template>
